<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        /* Mobile-specific styles */
        @media screen and (max-width: 768px) {
            /* Stack the navigation items vertically */
            .main-menu ul {
                display: block;
                padding-left: 0;  /* Remove default padding */
            }

            .main-menu li {
                width: 100%;  /* Make each list item take up full width */
                text-align: center; /* Center the text */
            }
        }

        /* Default styles for larger screens */
        @media screen and (min-width: 769px) {
            .main-menu ul {
                display: flex; /* Flexbox for horizontal layout */
                justify-content: space-around;
                padding-left: 0;
            }

            .main-menu li {
                width: auto; /* Let the items take their natural width */
            }
        }
        .border {
            border-bottom: 5px solid #ed1b24ff; /* Adjust border thickness and color as desired */
        }
    </style>
</head>
<body>
    <nav class="navbar is-info">
        <div id="navbarExampleTransparentExample" class="navbar-menu is-active">
            <div class="navbar-end">
                <div class="field is-grouped">
                    <p class="control">
                        {{#if logged_in}}
                            <a class="button is-primary" href="/profile">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>Profile</span>
                            </a>
                            <form action="/api/users/logout" method="POST" style="display:inline;">
                                <button class="button is-light" type="submit">Logout</button>
                            </form>
                        {{else}}
                            <a class="button is-primary" href="/login">
                                <span>Login</span>
                            </a>
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <section class="header1">
        <div class="hero-body">
            <div>
                <img src="/images/strictly-ballroom-solid.svg" alt="Strictly Ballroom" class="logo-header">
            </div>
        </div>
        <div class="tabs is-boxed is-centered main-menu border" id="nav">
            <ul>
                <li data-target="pane-1" id="1">
                    <a href="/about">
                        <span>About</span>
                    </a>
                </li>
                <li data-target="pane-2" id="2">
                    <a href="/calendar">
                        <span>Calendar</span>
                    </a>
                </li>
                <li data-target="pane-3" id="3">
                    <a href="/rentspace">
                        <span>Rent Space</span>
                    </a>
                </li>
                <li data-target="pane-4" id="4">
                    <a href="/contact">
                        <span>Contact</span>
                    </a>
                </li>
                <li data-target="pane-4" id="4">
                    <a href="/faq">
                        <span>FAQ</span>
                    </a>
                </li>
                <li data-target="pane-5" id="5">
                    <a href="/gallery">
                        <span>Gallery</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            {{{body}}}
            <div class="tab-pane" style="display: none;"></div>
        </div>
    </section>
</body>
</html>
