  <title>Page Not Found</title>
  <style>
    .construction-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
    }

    .construction-image {
      max-width: 100%;
      height: auto;
    }

    .construction-text {
      font-size: 3rem;
      margin-top: 1rem;
      color: #cfcfcf;
    }
  </style>
</head>
<body>
  <div class="construction-container">
    <img src="/images/PatrickConstruction.png" alt="Under Construction" class="construction-image">
    <p class="construction-text">Is this the page you were looking for? No, this is Patrick!</p>
  </div>
</body>