<div>
            <div class="tab-pane is-active" id="pane-1" style="display: block;">
                <div class="card">
                    <div class="card-content">                 
                        <div class="content">
                            <h1>About the Studio</h1>
                            <p>Strictly Ballroom Event Center is a premier 4,200-square-foot venue located next to Center Stage Performing Arts, offering a unique space to learn the art of ballroom dancing and host unforgettable events. As the <strong>Home of National Champions, World Champions, British Open Finalists, DWTS Pros, DWTS Junior Pros, and SYTYCD Winners & Finalists</strong>, our facility is the perfect place for dancers of all levels to hone their skills in a professional and inspiring environment.</p>

                            <p>Whether you’re looking to take social or competitive ballroom dance lessons, or you need a spacious and versatile venue for your next event, we provide a welcoming atmosphere and modern amenities to make every experience memorable. Our event center is available for a wide range of occasions, including weddings, receptions, corporate gatherings, parties, and more.</p>

                            <p>With its spacious floor plan and exceptional location, Strictly Ballroom Event Center is the ideal destination for those seeking both dance excellence and a premier event venue.</p>
                        
                                <img src="/images/aboutImage.jpg" alt="dance-floor-image" >
                            
                        </div>
                    </div>
                </div>
            </div>

</div>