<div>
    <div class="tab-pane is-active" style="display: block;">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h1>Frequently Asked Questions</h1>
              <h3>What is Strictly Ballroom Event Center?</h3>
                <p>Strictly Ballroom Event Center is a 4,200-square-foot venue next to Center Stage Performing Arts. We offer dance lessons in social and competitive ballroom dancing, and our space is also available for events such as weddings, parties, corporate gatherings, and more. Our center is the <strong>Home of National Champions, World Champions, British Open Finalists, DWTS Pros, DWTS Junior Pros, and SYTYCD Winners & Finalists</strong>, making it the perfect place for both dancers and event hosts.</p>
              <h3>Do I need to have any previous dance experience to take lessons?</h3>
                <p>Not at all! We welcome dancers of all skill levels, from beginners to advanced. Our instructors will work with you to develop your skills at your own pace, whether you're looking to learn social ballroom dances or compete in events.</p>
              <h3>What types of events can I host at Strict Ballroom Event Center?</h3>
                <p>Our versatile venue is ideal for a variety of events, including weddings, receptions, corporate events, private parties, and more. We offer a spacious floor plan that can be customized to fit your event needs, with modern amenities to ensure your event is a success.</p>
              <h3>Are heel guards required for Ballroom and Latin shoes?</h3>
                <p>Yes, heel guards are required for all Ballroom and Latin shoes. This is to protect the floor and ensure safety while dancing. Please make sure to bring your shoes with heel guards for any lessons or events.</p>
              <h3>What is the capacity of the event center?</h3>
                <p>Our event center is 4,200 square feet, providing ample space for up to 200 guests depending on the type of event. We can accommodate a variety of setups, including seated events, cocktail parties, and dance floors.</p>
              <h3>What should I wear to my lesson?</h3>
                <p>For your ballroom dance lessons, we recommend wearing proper ballroom attire that allows you to move freely and comfortably. This typically includes clothes that are fitted but not restrictive, such as a dance skirt, dress, or slacks for women, and dress pants and a shirt for men. As you progress, you'll want to wear more formal ballroom attire that is designed specifically for dance, especially if you plan to compete or perform. </p>
                <p>
                For shoes, it's important to wear proper ballroom or Latin dance shoes with smooth soles that provide the necessary support and grip for dancing. If you don't have dance shoes yet, wear something comfortable with a flexible sole that allows for easy movement. <strong>Heel guards are required for all ballroom and Latin shoes</strong> to protect the floor and ensure safety during your lessons. Heel guards, along with dance attire and other dance accessories, can be purchased at <a href="https://www.dancegearutah.com">Dance Gear</a>, located next door.</p>

            <figure>
                      <img src="/images/ballroom-stock-4.jpg" alt="dance-stock-image" class="is-justify-content-center image">
            </figure>
          </div>
        </div>
    </div>
</div>
