<style>
  .content strong {
    font-weight: bold; /* Make the text bold */
    color: #ed1b24ff; /* Set the text color to red */
}

</style>

<body>
  <div class="tab-pane is-active" id="pane-1" style="display: block;">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1>Rent Space</h1>
          <div class="contact-info">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p>Renting space for private lessons beforehand is currently optional. For masterclasses, please view <a href="https://www.centerstageutah.com">Center Stage Utah.</a>
                  </p>
                  <p><strong>Prices:</strong><br>
                    Practice - $10/1 hour <br>
                    Lessons with a Teacher - $10/45 minutes
                  </p>
                  <p><strong>Rounds:</strong><br>
                    $7.50/person (discounted <strong>before</strong> rounds begin)<br>
                    $10/person (after rounds end)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>