:root{
    ::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4};
    --red: #ed1b24ff ;
    }
    .navbar {
        background-color: #000;
    }
    .logo-header {
        padding: 3.5rem;
    }
    .header1 {
        background-color: #000;
    }
    .tabs {
    margin-bottom: -1px !important;
    position: relative;
    }
    .tabs span {
        color: white;
    }
    .tab-content {
    color: #000;
    background-color: rgb(84, 84, 84);
    }
@media (min-width: 319px) and (max-width: 375px) {
    .tab-content {
        padding-top: 20px;
    }
    .logo-header {
        padding: 1.5rem;
    }
}
    /* 375px - 425px */
@media (min-width: 375px) and (max-width: 424px) {
    .tab-content {
        padding: 15px;
    }
    .logo-header {
        padding: 1.5rem;
    }
}
/* 425px - 768px */
@media (min-width: 425px) and (max-width: 767px) {
    .tab-content {
        padding: 15px;
        padding-top: 25px;
    }
    .logo-header {
        padding: 2rem;
    }
}
/* 768px and above */
@media (min-width: 768px) {
    .tab-content {
        padding: 20px;
        padding-top: 60px;
    }
    .image {
        max-width: 50%;
        
    }
}
    .tabs {
        --bulma-tabs-border-bottom-color: hsl(0, 0%, 41%);
    }
    .tab-pane {
    display: none;
    }
    .tab-pane.is-active {
    display: block;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    }
    .tab-pane h3 {
        color: var(--red)
    }
    .content h1{
    color: var(--red)
    }
    .content p, ul{
        color: white;
    }
    .is-active {
    display: initial;
    }
    
    .cent{
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ccc}
    
    .video
    {display: block;
    margin: 0 auto;}
    
    /* CSS from http://embedresponsively.com */
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .calendar {
        padding: 1rem;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .button {
        background-color: #ff1900;
    }

